<div class="my-3 p-5 bg-body rounded shadow-sm">
  <h3 class="pb-2 mb-3">Fernando Henrique Madruga Baroni</h3>
  <h6 class="border-bottom pb-2 mb-0">Experiência</h6>
  <div class="d-flex text-muted pt-3 m-3">
    <img src="https://github.com/mdo.png" alt="" width="50" height="50" />
    <div class="m-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Autônomo </strong>
        </div>
        <span class="d-block">Fernando Baroni Elétrica e Automação</span>
        <span class="d-block">abr de 2022 - atualmente - 7 meses</span>
        <span class="d-block">São José, SC</span>
        <span class="d-block">Instalação, manutenção e reparos</span>
      </div>
    </div>
  </div>

  <div class="d-flex text-muted pt-3">
    <img src="../assets/iguatemi.png" alt="" width="50" height="50" />
    <div class="m-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark"
            >Eletricista/Técnico de Automação</strong
          >
        </div>
        <span class="d-block">Shopping Iguatemi Florianópolis</span>
        <span class="d-block">ago de 2012 - mar 2022 - 9 anos e 7 meses</span>
        <span class="d-block">Florianópolis, SC</span>
        <span class="d-block">Manutenção</span>
      </div>
    </div>
  </div>
  <div class="d-flex text-muted pt-3">
    <img src="../assets/net.jpg" alt="" width="50" height="50" />
    <div class="m-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Instalador </strong>
        </div>
        <span class="d-block">NET Telecomunicações</span>
        <span class="d-block">fev de 2012 - ago 2012 - 7 meses</span>
        <span class="d-block">Florianópolis, SC</span>
        <span class="d-block">Instalação</span>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@getbootstrap"
    >
      Feedback
    </button>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Nova Menssagem
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nome :</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"
                >Sobrenome :</label
              >
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Email :</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label"
                >Menssagem:</label
              >
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>
